@tailwind base;
@tailwind components;
@tailwind utilities;

.text-elicps {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
a {
  color: blue;
}
